<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DELETE USER</title>
</head>
<body>
    <h1>User List</h1>
    <% users.forEach(i => {%>
        <div>
            <p><%= i.userId %> | <%= i.name %> | <%= i.email %></p>
        </div>    
    <% }) %>

    <h1>USER ID TO DELETE</h1>
    <form action="/deleteUser" method="POST">
        <label for="userid">Userid</label>
        <br>
        <input type="number" name="userid" placeholder="userid">
        <br>
        <button type="submit">Delete User</button>
    </form>

    <button type="submit"><a href="/superAdminDashboard">Back to dashboard</a></button>
</body>
</html>