<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/login.css">
    <title>SUPER ADMIN DASHBOARD</title>
</head>
<body>
    <div class="container">
        <div class="row">
            <h2 class = "titleSuper" style="text-align:center">Super Admin Dashboard</h2>
            <div class="col" style="text-align: center">
                <button type="submit"><a href="/createUser">Create New User</a></button>
                <button type="submit"><a href="/deleteUser">Delete User</a></button>
                <button type="submit"><a href="/alterUser">Edit User</a></button>
                <h1>User List</h1>
                <% users.forEach(i => {%>
                    <div>
                        <p><%= i.userId %> | <%= i.name %> | <%= i.email %></p>
                    </div>    
                <% }) %>
            </div>
        </div>
    </div>
</body>
</html>