<DOCTYPE html>
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
            <!--Bootstrap CSS-->
            <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> -->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
            <!--Local CSS-->
            <link rel="stylesheet" href="./css/idx-desktop.css">
            <link rel="stylesheet" href="./css/idx-mobile.css">
    
            <!--Font-->
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&display=swap" rel="stylesheet">
    
            <title>Irfanda Binar Challange</title>
        </head>
    
        <body>
            <div class="first-page">
                <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
                    <a class="navbar-brand pl-5" href="#"><h2>LOGO</h2></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                        <div id="navbar-middle" class="navbar-nav" >
                            <a class="nav-item nav-link active" href="#">Home</a>
                            <a class="nav-item nav-link active" href="#">WORK</a>
                            <a class="nav-item nav-link active" href="#">CONTACT</a>
                            <a class="nav-item nav-link active" href="#">ABOUT ME</a>
                        </div>
                        <div id="navbar-right" class="navbar-nav">
                            <a class="nav-item nav-link active" href="/register">SIGN UP</a>
                            <a class="nav-item nav-link active" href="/login">LOGIN</a>
    
                         </div>
                     </div>
                  </nav>
    
                  <nav class="mobile-navbar">
                    <a href="">Home</a>
                    <a href="">Work</a>
                    <a href="">About</a>
                    <a href="">Contact</a>
                    <a href="">Sign Up</a>
                    <a href="">Login</a>
                </nav>
    
                  <div class="container text-center text-white">
                    <h1>PLAY TRADITIONAL GAME</h1>
                    <h6 class="mt-5 pt-3 mb-5">Experience new traditional gameplay</h6>
                    <button class="btn btn-warning custom-button mt-5">
                        <a href="/login"><p>Play Now</p></a>
                    </button>
                    <div class="icon-container">
                        <div><p>The Story</p></div>
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="White" class="bi bi-caret-down" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                        </svg></div>
                    </div>
                </div>
                  
    
            </div>
    
            <div class="second-page">
                <div class="container-fluid text-white">
                    <div class="row">
                        <div class="col-md-2 col-xs"></div>
                        <div class="col-md-3 col-xs-4">
                            <p>What's so special?</p>
                            <h1>THE GAMES</h1>
                        </div>
                        <div class="col-md-7 col-xs-8">
                             <!--Carousel Start-->
                             <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                                  <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
                                </ol>
                                <div class="carousel-inner">
                                  <div class="carousel-item active">
                                    <img src="assets/rockpaperstrategy-1600.jpg" class="d-block w-100" alt="...">
                                  </div>
                                </div>
                                <a class="carousel-control-prev carousel-control.left" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Previous</span>
                                </a>
                                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                  <span class="sr-only">Next</span>
                                </a>
                              </div>
    
                            <!--Carousel End-->
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="third-page">
                <div id="third-page-desktop" class="container-fluid">
                    <div class="row">
                        <div class="col-md-6"> </div>
                        <div class="col-md-6 col-xs-10 text-white">
                            <h4>What's so special?</h4>
                            <h1>FEATURES</h1>
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10">
                                            <ul class="timeline">
                                                <li>
                                                    <h3>TRADITIONAL GAMES</h3>    
                                                    <p>If you miss your childhood, we provide <br>many traditional games here</p>
                                                </li>
                                                <li>
                                                    <h3>GAME SUIT</h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <ul class="timeline-02">
                                                <li>
                                                    <h3>TBD</h3>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
                <div class="mobile-third-page">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <p>What's so special?</p>
                                <h1>FEATURES</h1>
                                <ul>
                                    <li>TRADITIONAL GAMES<br><p>If you miss your childhood, we provide <br>
                                    traditional games here</p></li>
                                    <li>GAME SUIT</li>
                                    <li>TBD</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    
    
                </div>
            </div>
    
            <div class="fourth-page">
                <div id="fourth-page-desktop" class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="panel-left text-white">
                                <p>SYSTEM <br>REQUIREMENTS</p>
                            </div>                        
                        </div>
                        <div class="col-md-6">
                            <div class="panel-right text-white">
                                <p>Can My Computer Run This Game?</p>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-6">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>
                                            <h4>OS:</h4>
                                            <p>
                                                Windows 7 64-bit only<br>
                                                (No OSX support at this time)
                                            </p>
                                        </td>
                                        <td>
                                            <h4>PROCESSOR:</h4>
                                            <p>
                                                Intel Core 2 Duo @ 2.4 GHZ or<br>
                                                AMD Athlon X2 @ 2.8 GHZ
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <h4>MEMORY:</h4>
                                            <p>
                                                4 GB RAM
                                            </p>
                                        </td>
                                        <td>
                                            <h4>STORAGE:</h4>
                                            <p>
                                                8 GB available space
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">
                                            <h4>GRAPHICS:</h4>
                                            <p>
                                                NVIDIA GeForce GTX 660 2GB or <br>
                                                AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                                            </p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
    
                <div class="mobile-fourth-page">
                    <div class="container-fluid text-center">
                        <div class="row">
                            <div class="col-sm">
                                <h2>SYSTEM REQUIREMENTS</h2>
                                <p>Can my computer run this game?</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h4>OS:</h4>
                                                <p>
                                                    Windows 7 64-bit only<br>
                                                    (No OSX support at this time)
                                                </p>
                                            </td>
                                            <td>
                                                <h4>PROCESSOR:</h4>
                                                <p>
                                                    Intel Core 2 Duo @ 2.4 GHZ or<br>
                                                    AMD Athlon X2 @ 2.8 GHZ
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h4>MEMORY:</h4>
                                                <p>
                                                    4 GB RAM
                                                </p>
                                            </td>
                                            <td>
                                                <h4>STORAGE:</h4>
                                                <p>
                                                    8 GB available space
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <h4>GRAPHICS:</h4>
                                                <p>
                                                    NVIDIA GeForce GTX 660 2GB or <br>
                                                    AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="fifth-page">
                <div id="fifth-page-desktop" class="container-fluid">
                    <div class="row">
                        <div class="col-md col-xs"></div>
                        <div class="col-md-5 col-xs-5">
                            <h1>TOP SCORES</h1>
                            <h4>This top score from various games provided <br>on this platform</h4>
                            <button id="fifth-page-button" class="btn btn-warning custom-button">
                                <p>See More</p>
                            </button>
                        </div>
                        <div class="col-md-6 col-xs-6">
                            <div class="row">
                                <div class="col-md col-xs">
                                    <div class="card">
                                        <div class="profile">
                                            <img src="assets/UI-face-4.jpg" alt="evan lathi" class="circular-landscape">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-8 col-xs-8">
                                                        <p class="name">
                                                            Evan Lahti
                                                            <br><span style="color: gray;">PC GAMER</span> 
                                                        </p>
                                                    </div>
                                                    <div class="col-md col-xs">
                                                        <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                                                            </svg>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <p class="sentence-testimony">"One of my gaming highlights of the year."</p>
                                        <p class="date">October 18, 2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md col-xs">
                                    <div id="jada" class="card">
                                        <div class="profile">
                                            <img src="assets/UI-face-3.jpg" alt="evan lathi" class="circular-landscape">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-8 col-xs-8">
                                                        <p class="name">
                                                            Jada Griffin
                                                            <br><span style="color: gray;">Nerdreactor</span> 
                                                        </p>
                                                    </div>
                                                    <div class="col-md col-xs">
                                                        <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                                                            </svg>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <p class="sentence-testimony">"The next big things in the world of streaming<br>and survival games"</p>
                                        <p class="date">December 21, 2018</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md">
                                    <div class="card">
                                        <div class="profile">
                                            <img src="assets/UI-face-5.jpg" alt="evan lathi" class="circular-landscape">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-8">
                                                        <p class="name">
                                                            Aaron Williams
                                                            <br><span style="color: gray;">Uproxx</span> 
                                                        </p>
                                                    </div>
                                                    <div class="col-md">
                                                        <svg width="19" height="15" viewBox="0 0 19 15" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                            <path opacity="0.3" d="M18.3981 2.41449C17.7231 2.70013 17.0072 2.88765 16.2741 2.97084C17.0365 2.53297 17.623 1.84099 17.899 1.01526C17.1731 1.42694 16.3789 1.71699 15.5508 1.87286C14.8519 1.15947 13.8744 0.755389 12.8519 0.757085C10.8105 0.757085 9.15361 2.33909 9.15361 4.29061C9.15361 4.5679 9.18627 4.83816 9.25021 5.09623C6.17639 4.94862 3.45216 3.54236 1.62787 1.404C1.30934 1.92529 1.12764 2.53297 1.12764 3.18076C1.12764 4.40623 1.78024 5.48805 2.77231 6.12188C2.18494 6.10468 1.61046 5.95309 1.09706 5.67983V5.7249C1.09706 7.43659 2.37189 8.86495 4.06278 9.19027C3.5182 9.3312 2.94722 9.35187 2.39305 9.25072C2.86384 10.6549 4.22998 11.6764 5.8475 11.7061C4.5821 12.6524 2.98781 13.2184 1.25483 13.2184C0.960153 13.2181 0.66574 13.2015 0.373047 13.1689C2.00943 14.1713 3.95365 14.7571 6.04185 14.7571C12.8438 14.7571 16.5627 9.37118 16.5627 4.70056C16.5627 4.54779 16.5627 4.39502 16.5513 4.24335C17.2749 3.74295 17.8998 3.12372 18.3969 2.41449H18.3981Z" fill="white"/>
                                                            </svg>
                                                    </div>
                                                </div>
                                                
                                            </div>
                                            
                                        </div>
                                        <p class="sentence-testimony">"Snoop Dogg Playing The Wildly Entertaining 'SOS' Is Ridiculous."</p>
                                        <p class="date">December 24, 2018</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    
            <!--Bootstrap JS-->
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        </body>
    </html>